<html>
  <head>
    <title>OTP page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please enter your Time based OTP. You have only 1 minute</h1>
      <br>
      <form action="" method="post">
        <input type="number" placeholder="Mobile" name="Phone Number" value="{{request.form.phone}}" disabled>
        <input type="email" placeholder="Email" name="email" value="{{request.form.email}}" disabled>
        <input type="text" placeholder="otp" name="otp" value="{{
          request.form.otp }}">
        <input class="btn btn-default" type="submit" value="Validate">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

