<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{ user }}!</h1>
    <br>
    <b><a href = '/logout'>click here to log out</a></b>
</body>
</html>